.weather {
  border: 1px solid #dadde1;
  padding: 35px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}
h1 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}

.btn-primary {
  position: relative;
  left: -20px;
}
.btn-success {
  position: relative;
  left: -20px;
}

.item {
  display: inline;
  margin: 0 20px 0 0;
}
.leftside {
  padding-left: 15;
}

.weather-today {
  position: relative;
  color: #333;
  float: left;
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  padding-left: -50px;
  margin-top: -20px;
}
.temperature {
  position: relative;
  color: rgb(33, 33, 33);
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
}
.units {
  font-size: medium;
  position: relative;
  top: -28px;
  left: -10px;
}
.humidity {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  font-family: arial, sans-serif;
}
li {
  list-style: none;
}
.search-form {
  margin-bottom: 20px;
}
.details {
  color: grey;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.row {
  margin-bottom: 30px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: #202124;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-icon {
  height: 35px;
  width: 35px;
  margin-right: -10px;
  margin-top: 23px;
}

.source-code {
  text-align: center;
}
.details {
  display: block;
}
.details:first-letter {
  text-transform: capitalize;
}
.weather-today .active {
  color: black;
  cursor: default;
}
.weather-today .active:hover {
  text-decoration: none;
}
